@import 'tailwindcss';

@theme {
  --color-primary: #007aff;
  --color-primary-hover: #339cff;
  --color-secondary: #9bd1e5;

  --color-spotify: #1db954;
  --color-spotify-hover: #169c46;

  --color-main: purple-900;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}
